body {
  overflow-y: scroll !important;
  padding: 0 !important;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: inherit !important;
  border-color: #e23e3d !important;
}

.fit-content {
  width: fit-content !important;
}

/* card hover */

.card-hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}
.card-hover:hover {
  transform: translate(0, -5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* text colors */
.text-dull-white {
  color: #e5e5e5 !important;
}

.br-5 {
  border-radius: 5px;
}
.br-10 {
  border-radius: 10px;
}
.br-15 {
  border-radius: 15px;
}
.br-20 {
  border-radius: 20px;
}
.br-25 {
  border-radius: 25px;
}

.single-line-ellipsis {
  white-space: nowrap;
  /* Prevents text from wrapping to the next line */
  overflow: hidden;
  /* Hides any overflow beyond the container */
  text-overflow: ellipsis;
  /* Displays an ellipsis (...) when text overflows */
}
.double-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-resize {
  resize: none;
}

/* Transparent Bg Spin */
/* Dark Mode Modified with Sash */
#transparent-bg-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#transparent-bg-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: var(--primary-bg-color);
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

/* for dark mode */
body.dark-mode #transparent-bg-spin {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
body.dark-mode #transparent-bg-spin::after {
  border-color: white !important;
  border-top-color: transparent !important;
}

/* Transparent Bg Spin */

a.without-anchor-effect {
  color: inherit !important;
  text-decoration: none !important;
}

.is-invalid {
  padding: 0.475rem 0.75rem !important;
}

.tippy-content {
  padding: 0 !important;
}

.tippy-arrow {
  box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07) !important;
}
body.dark-only .tippy-arrow::before {
  border-top: 7px solid #262932 !important;
}

/* user dashboard social media icons */
.userDashSocialShare .socialList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  justify-content: start;
  flex-flow: row wrap;
}

.userDashSocialShare .socialList li {
  margin: 5px;
}

.userDashSocialShare .socialList li:first-child {
  padding-left: 0;
}

.userDashSocialShare .socialList li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-decoration: none;
  background-color: #999;
  color: #fff;
  transition: 0.35s;
}

.userDashSocialShare .socialList li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: scale(1) translate(-50%, -50%);
  transition: 0.35s;
  font-size: 18px;
}

.userDashSocialShare .socialList li a:hover i {
  transform: scale(1.5) translate(-50%, -50%);
}

.userDashSocialShare .socialList li:nth-child(1) a {
  background-color: rgb(74, 74, 79);
}

.userDashSocialShare .socialList li:nth-child(2) a {
  background-color: rgb(74, 74, 79);
}

.userDashSocialShare .socialList li:nth-child(3) a {
  background-color: rgb(74, 74, 79);
}

/*  */
tr {
  vertical-align: middle;
}

.shrink-hide {
  height: 0px;
  width: 0px;
  position: absolute;
  opacity: 0;
}

.display_none {
  display: none;
}

@media only screen and (max-width: 700px) {
  .mobile-button {
    width: 100%;
  }
}

.text-bold {
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
